@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <title>PCBuild</title>
</head>
<body style="background-color:#ffffcc">
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
   
    <script src="@Url.Content("C:/Users/catal/Desktop/PCBuild/PCBuild/PCBuild/wwwroot/js/Components/NavBar/Navbar.js")"></script>
</body>
</html>